@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@media only screen and (max-width: 699px) {
  .buttonsHeader {
    display: flex;
    justify-content: center;

    border-bottom: 0.1px solid rgba(128, 128, 128, 0.3);
  }
  .resume-text {
    text-align: center;
  }

  .contentBody {
    margin-top: -2rem;
    padding: 2rem;
  }
}

@media only screen and (min-width: 700px) {
  body {
    padding: 3rem 3rem 3rem 3rem;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
  }

  p {
    font-family: "Poppins", sans-serif;
    color: #111729;
  }

  a {
    color: #0d6efd;
    text-decoration: none !important;
  }

  .resume-text {
    text-align: center;
    width: 60vw;
  }

  .topBar {
    display: flex;
    width: 100%;
    height: auto;
    background-color: red;
  }

  .aboutMe-resume {
    height: calc(100vh - 190px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(224, 224, 224, 0.7);
  }

  .aboutMe-resume::-webkit-scrollbar {
    width: 5px;
    border-radius: 100px;
  }

  .aboutMe-resume::-webkit-scrollbar-track {
    background-color: rgba(224, 224, 224, 0.7);
    border-radius: 100px;
  }

  .aboutMe-resume::-webkit-scrollbar-thumb {
    box-shadow: inset 2px 2px 5px 0 rgba(113, 44, 249, 0.2);
    border-radius: 100px;
  }

  .footer {
    color: gray !important;
    user-select: none;
    display: flex;
    position: absolute;
   bottom: -2rem;
  }
}
