@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@media only screen and (max-width: 699px) {
  .buttonsHeader {
    display: flex;
    justify-content: center;

    border-bottom: 0.1px solid rgba(128, 128, 128, 0.3);
  }

  .me-auto {
    display: none;
  }

  .title {
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
  }

  .textHi {
    display: flex;
    justify-content: center;
    font-size: 60px;
  }

  .colorName {
    color: #712cf9;
  }

  .myName {
    display: flex;
    justify-content: center;
    color: #111729;
  }

  .welcome {
    display: flex;
    justify-content: center;
  }

  .subTitle {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
  }

  .myResume {
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .home_blob {
    fill: #712cf9;
  }

  .imageSvg {
    margin-top: 1rem;
    width: 18rem;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 700px) {
  body {
    padding: 3rem 3rem 3rem 3rem;
    position: relative;
  }

  p {
    color: #111729;
  }

  .title {
    margin-bottom: 0rem;
    font-size: 49px;
  }

  .textHi {
    font-size: 70px;
  }

  .welcome {
    font-size: 20px;
  }

  .colorName {
    color: #712cf9;
  }

  .myName {
    color: #111729;
  }

  .subTitle {
    margin-top: 0rem;
  }

  .myResume {
    width: 50vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .home_blob {
    fill: #712cf9;
  }

  .imageSvg {
    width: 33vw;
    max-width: 25rem;
    display: flex;
    right: 5vw;
    top: 8rem;
    position: absolute;
  }

  .footer {
    color: gray !important;
    user-select: none;
    display: flex;
    position: absolute;
   bottom: -2rem;
  }
}
