@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  padding: 3rem 3rem 3rem 3rem;
  overflow-x: hidden;
  overflow-y: hidden;
}


p {
  color: #111729;
}

.title {
  margin-bottom: 0rem;
}

.textHi {
  font-size: 60px;
}

.colorName {
  color: #712cf9;
}

.myName {
  color: #111729;
}

.subTitle {
  margin-top: 0rem;
}

.myResume {
  width: 50vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.home_blob {
  fill: #712cf9;
}

.imageSvg {
  width: 24rem;
  display: flex;
  right: 5rem;
  top: 8rem;
  position: absolute;
}
